body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

.container {
    width: 500px;
    background: #fff;
    padding: 25px;
    margin: 40px auto;
    box-shadow: 0 0 10px gray;
    border-radius: 10px;
}

h1, h2 {
    text-align: center;
    color: #333;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}

.btn {
    display: block;
    background: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 15px;
}
